<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gradebooklet | Grade management made easy.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" href="/favicon.ico">

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Ruda&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"/>

    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">

  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.metadata.env.GOOGLE_ANALYTICS_KEY %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= htmlWebpackPlugin.options.metadata.env.GOOGLE_ANALYTICS_KEY %>');
  </script>
</html>
